## ICT707 Task 1 Test


### Instructions

* This assignment will be done completely inside this Jupyter notebook.
* You have 5 tasks worth of 20 marks to complete in this Notebook.

* **Write your answers to the space between ### BEGIN SOLUTION   and   ### END SOLUTION**.

* **You need to upload this notebook template and two data set files to the server**.
* **You have 120 minutes.**
* **After you finish, make sure all cells are executed. Go to menu "File->Download as" to download your work as 2 files: (1) a Jupyter notebook file and (2) a HTML file. And then submit both files to Blackboard.**

* If you see any error related to spark context, please **run the last cell** and then retry.

In [36]:
# Please enter your NAME and student ID
NAME = "GAGANDEEP KAUR"
ID = "1121869"

## PART I: Use Spark to process text files

### Task 1: [2 marks] Get the spark context ready

In [37]:
# add imports here

### BEGIN SOLUTION
from pyspark import SparkContext
### END SOLUTION


# create SparkContext

### BEGIN SOLUTION
sc = SparkContext("local","test app")
### END SOLUTION

### Task 2: [4 marks] Load the file and count the word frequency

In [38]:
# load the text file "Alice_Adventures_in_Wonderland.txt" into variable file_rdd

### BEGIN SOLUTION
file_rdd=sc.textFile("Alice_Adventures_in_Wonderland.txt")
### END SOLUTION

# print the number of lines containing word "Alice" ignoring the case

### BEGIN SOLUTION
file_rdd.filter(lambda x: "Alice" in x.split()).count()

### END SOLUTION

221

## PART II: Use Spark SQL to process structure data

### Task 3: [4 marks] load the csv file

**Dataset:**

In this test, we use a data set "sales.csv" which consists of the sale records at a shop.

In [39]:
# add imports here
from pyspark.sql import SQLContext

# create SQLContext. Keep in mind that we have already created SparkContext sc

### BEGIN SOLUTION
sqlContext = SQLContext(sc)
### END SOLUTION

# load load the csv file "sales.csv" into variable data_df

### BEGIN SOLUTION
data_df = sqlContext.read.csv("sales.csv",header=True,inferSchema=True)
### END SOLUTION

data_df.show(5)

+-------+---------------+------+---+-----+------+------+---------+---------+------+
|CustNum|           Name|   Sex|Age|State|Income|Clicks|LastSpend|Purchases| Spend|
+-------+---------------+------+---+-----+------+------+---------+---------+------+
|      0| Brandon Bender|  male| 67|  NSW|120000|   709|  2488.59|        8|1615.0|
|      1|Andre Mccormick|  male| 38|  VIC|140000|   630|  4295.34|       14|1927.2|
|      2|   Ashley Smith|female| 47|  NSW| 50000|   554|  1986.09|        8|1660.8|
|      3|      Ann Riley|female| 33|  NSW|100000|   309|  1532.64|       10|3041.1|
|      4| Timothy Chavez|  male| 49|  NSW|140000|   520|  2082.08|        8|1764.4|
+-------+---------------+------+---+-----+------+------+---------+---------+------+
only showing top 5 rows

### Task 4: [4 marks] Selection and filtering

In [40]:
# Get "Age", "State", "Income", and "Spend" attributes for all male customers, and order them based on "Age"
# Requirement: Use DataFrame DSL

### BEGIN SOLUTION
data_df.filter(data_df.Sex=='male').orderBy('Age').select('Age','State','Income','Spend').show()
### END SOLUTION

+---+-----+------+-------+
|Age|State|Income|  Spend|
+---+-----+------+-------+
| 19|  VIC| 30000| 596.75|
| 21|  NSW| 50000| 946.05|
| 21|  QLD|120000| 1844.9|
| 25|  NSW|100000| 1280.0|
| 28|  NSW|140000| 1779.8|
| 30|  NSW|160000| 2895.0|
| 31|   SA| 70000|1332.85|
| 31|  NSW|160000| 2662.5|
| 34|  NSW|140000| 1991.0|
| 34|  QLD| 60000|  886.0|
| 35|  QLD| 40000|  761.6|
| 38|  VIC|140000| 1927.2|
| 38|  NSW| 50000|  878.9|
| 42|  VIC| 80000| 1471.6|
| 42|   SA| 60000| 1065.0|
| 42|  VIC| 20000|  428.4|
| 43|  VIC|160000| 2480.0|
| 44|  NSW| 50000| 981.75|
| 45|  NSW| 90000| 1600.8|
| 46|  QLD| 20000|  357.2|
+---+-----+------+-------+
only showing top 20 rows

### Task 5: [6 marks] Filtering and aggregation

In [41]:
# Print the number of customers with "Clicks" greater than 500 for each state group.
# Requirement: Use DataFrame DSL

### BEGIN SOLUTION
x=data_df.filter(data_df.Clicks>500).groupby('State')
x.count().show()
### END SOLUTION


# Print the number of customers with "Clicks" greater than 500 for each state group.
# Requirement: Use SQL statement

### BEGIN SOLUTION
data_df.registerTempTable('user_table')
sqlContext.sql("""SELECT State,COUNT(CustNum) FROM user_table WHERE Clicks > 500 GROUP BY State""").show()
### END SOLUTION

+-----+-----+
|State|count|
+-----+-----+
|  ACT|    1|
|   SA|    2|
|  QLD|   11|
|  VIC|   13|
|  NSW|   31|
+-----+-----+

+-----+--------------+
|State|count(CustNum)|
+-----+--------------+
|  ACT|             1|
|   SA|             2|
|  QLD|            11|
|  VIC|            13|
|  NSW|            31|
+-----+--------------+

## Shut down SparkContext when exiting

If you have error messages related to sparkContext, try to run the following cell, and then rerun all cells.

In [42]:
sc.stop()